/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/05/2023, 01:38:42 PM
    Author     : pcgc7
*/


* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-family: 'Open Sans', sans-serif; }

/****************************** HEADER *****************************************/

header { background-image: linear-gradient(to right, #fff 0%, #a12312 100%); box-shadow: 0 0.75em 0.75em 0 rgba(0,0,0,0.5); z-index: 30; }

header .col-2 { padding-left: 0 !important; padding-right: 0 !important;}

nav { flex-wrap: nowrap; justify-content: space-around; }

nav ul li { padding-left: 0.75rem !important; padding-right: 0.75rem !important; }

nav ul li a { font-size: 1.25rem !important; }

.mx-5 { margin-left: 1.5rem !important; margin-right: 1.5rem !important; } 

.m-3 { margin: 1rem !important; }

/****************************** SECCION PRINCIPAL ******************************/

.imagenFondo { background-image: url('../imagenes/fondoInicio.jpg'); background-size: 100% 100%; min-height: 100vh; padding-top: 2rem; }

.jumbotron { padding: 4rem 2rem; margin-bottom: 2rem; }

.jumbotron .display-4 { font-size: 3.5rem; }

.jumbotron .lead { font-size: 1.25rem; }

.historia, .encabezado { background-image: linear-gradient(to left, #fff 0%, #a12312 100%); }

.historia .figure .w-75 { width: 100% !important; }

.fondoCaption { right: 12.6%; bottom: 0; left: 12.6%; padding: 16rem 2rem 3rem 2rem; background-color: rgba(0,0,0,0.6); }

.colorFondo { background-color: rgba(0, 0, 0, 0.3); width: 100%; height: 100%; }

footer { background-color: rgba(161, 35, 18, 0.7); }

/*********************** Estilos para las validaciones en PHP *****************/

.error { background-color: #cc0000; color: #fff; }

.correcto { background-color: #1ed12d; }

.error, .correcto { font-size: 0.8em; padding: 1em; font-weight: 600; margin: 0.35em 0; }

/*********************** Estilos para las validaciones en Javascript *****************/

.msgIncorrecto {
    color: var(--colorRojo);
    font-size: 0.5rem;
}

.msgCorrecto {
    color: var(--colorVerde1);
    font-size: 0.5rem;
}


/****************************** MEDIA QUERIES ******************************/

@media screen and (min-width: 1424px) and (max-width: 1647.98px) {

    /****************************** HEADER *****************************************/

    header .col-2 { padding-left: 0 !important; padding-right: 0 !important;}

    nav { flex-wrap: nowrap; justify-content: space-around; }
    
    nav ul li { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }

    nav ul li a { font-size: 1.15rem !important; }

    .mx-5 { margin-left: 1rem !important; margin-right: 1rem !important; } 

    .m-3 { margin: 0.75rem !important; }

    /****************************** SECCION PRINCIPAL ******************************/

    .jumbotron .display-4 { font-size: 2.75rem ; }

    .jumbotron { padding: 3rem; margin-bottom: 1.75rem; }
    
    h1 { font-size: 2.5rem; }

    .historia .figure .w-75 { width: 90% !important; }

    .comentarios .row { flex-direction: column; }

    .col-6 { max-width: 100%; }

    .fondoCaption { padding: 20rem 0 4rem 0; font-size: 1rem; }
    
    .imgPersona { width: 15%; }  
}

@media screen and (min-width: 1200px) and (max-width: 1423.98px) {
    
    /****************************** HEADER *****************************************/

    header .col-2 { padding-left: 0 !important; padding-right: 0 !important; }    

    nav { flex-wrap: nowrap; justify-content: space-around; }

    nav ul li { padding-left: 0 !important; padding-right: 0 !important; }

    nav ul li a { font-size: 1rem !important; }

    nav ul li a.text-white { color: #fff!important; }

    .mx-5 { margin-left: 0.85rem !important; margin-right: 0.85rem !important; }

    .m-3 { margin: 0.5rem !important; }

    /****************************** SECCION PRINCIPAL ******************************/

    .jumbotron .display-4 { font-size: 2.75rem ; }

    .jumbotron { padding: 2rem; margin-bottom: 1.75rem; }
            
    .lineas { max-width: 32% !important; }
    
    .mt-2 { margin-top: 0.5rem !important; }
    
    .dibujos { max-width: 5% !important; }
    
    .ml-4 { margin-left: 0 !important; }
    
    h1 { font-size: 2rem; }
            
    .historia .figure .w-75 { width: 90% !important; }

    .comentarios .row { flex-direction: column; }

    .col-6 { max-width: 100%; }

    .fondoCaption { padding: 18rem 0 4rem 0; font-size: 1rem; }

    .imgPersona { width: 15%; }    
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {

    /****************************** HEADER *****************************************/

    header .col-2 { padding-left: 0 !important; padding-right: 0 !important; }    

    nav { flex-wrap: nowrap; justify-content: space-around; }

    nav ul li { padding-left: 0 !important; padding-right: 0 !important; }

    nav ul li a { font-size: 1rem !important; }

    nav ul li a.text-white { color: #fff!important; }

    .mx-5 { margin-left: 0.65rem !important; margin-right: 0.65rem !important; }

    .m-3 { margin: 0.5rem !important; }

    /****************************** SECCION PRINCIPAL ******************************/

    .inicio .p-3 { padding: 0.5rem !important; }

    .imagenFondo { min-height: 100vh; }

    .jumbotron { padding: 2rem; margin-bottom: 1.75rem; }

    .jumbotron .display-4 { font-size: 2.5rem ; }

    .jumbotron .lead { font-size: 1rem; }
            
    .lineas { max-width: 30% !important; }
    
    .mt-2 { margin-top: 0.5rem !important; }
    
    .dibujos { max-width: 5% !important; }
    
    .ml-4 { margin-left: 0 !important; }
    
    .card-deck .card { flex: 1 0 25%; margin-bottom: 1rem; }

    h1 { font-size: 1.75rem; }

    .pb-5 { padding-bottom: 2.25rem !important; }

    .historia .row, .comentarios .row { flex-direction: column; }

    .col-5, .col-7, .col-6 { max-width: 100%; }

    h4 { font-size: 1rem; }

    .fondoCaption { padding: 8.5rem 0 5rem 0; font-size: 1rem; }

    .carousel-indicators { bottom: 2rem; }

    .imgPersona { width: 15%; }
    
    /****************************** PIE DE PAGINA *****************************/

    .d-none { display: block !important; }

    footer { font-size: 1rem; }
}
 
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    
    /****************************** HEADER *****************************************/

    header .col-2 { padding-left: 0 !important; padding-right: 0 !important; } 

    .nav { flex-wrap: nowrap; border-top: 1px solid #000; }

    nav ul { justify-content: space-around; padding-top: 0.5rem; margin-top: 0.5rem; }

    nav ul li { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }

    nav ul li a { font-size: 0.7rem !important; }

    nav ul li a.text-white { color: black !important; }

    .mx-5 { margin-left: 0 !important; margin-right: 0 !important; }

    .m-3 { margin: 0 !important; }
    
    /****************************** SECCION PRINCIPAL ******************************/
    
    .inicio .p-3 { padding: 0.5rem !important; }

    .imagenFondo { min-height: 100vh; }

    .jumbotron { padding: 2rem; margin-bottom: 1rem; }

    .jumbotron .display-4 { font-size: 2.25rem ; }

    .jumbotron .lead { font-size: 0.75rem; }
        
    .mt-2 { margin-top: 0.5rem !important; }
    
    .dibujos { max-width: 5% !important; }
    
    .ml-4 { margin-left: 0 !important; }

    .card-deck .card { flex: 1 0 25%; margin-bottom: 1rem; }

    h1 { font-size: 1.5rem; }

    .pb-5 { padding-bottom: 1.5rem !important; }

    .historia .row, .comentarios .row { flex-direction: column; }

    .col-5, .col-7, .col-6 { max-width: 100%; }

    h4 { font-size: 1rem; }

    .fondoCaption { font-size: 1rem; }

    .carousel-indicators { bottom: -0.5rem; }

    .imgPersona { width: 15%; }

    /************************* Pie de página *****************************/
    
    .d-none { display: block !important; }

    footer { font-size: 0.7rem; }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {

    /****************************** HEADER *****************************************/

    header .col-2 { padding-left: 0 !important; padding-right: 0 !important; } 

    .nav { flex-wrap: nowrap; border-top: 1px solid #000; }

    nav ul { justify-content: space-around; padding-top: 0.5rem; margin-top: 0.5rem; }

    nav ul li { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }

    nav ul li a { font-size: 0.7rem !important; }

    nav ul li a.text-white { color: black !important; }

    .mx-5 { margin-left: 0 !important; margin-right: 0 !important; }

    .m-3 { margin: 0 !important; }

    /****************************** SECCION PRINCIPAL ******************************/

    .inicio .p-3 { padding: 0.35rem !important; }

    .imagenFondo { min-height: 95vh; }

    .jumbotron { padding: 2rem; margin-bottom: 1rem; }

    .jumbotron .display-4 { font-size: 1.75rem ; }

    .jumbotron .lead { font-size: 0.75rem; }
    
/*    .lineas { max-width: 30% !important; display: flex !important; justify-content: center !important; }*/
    
    .mt-2 { margin-top: 0 !important; }
    
    .dibujos { max-width: 5% !important; display: none; }
    
    .ml-4 { margin-left: 0 !important; }
        
    .card-deck .card { flex: 1 0 30%; margin-bottom: 1rem; }

    h1 { font-size: 1.5rem; }

    .pb-5 { padding-bottom: 1.5rem !important; }
    
    .historia .row, .comentarios .row { flex-direction: column; }

    .col-5, .col-7, .col-6 { max-width: 100%; }

    h4 { font-size: 1rem; }

    .fondoCaption { padding: 2.5rem 0 2rem 0; font-size: 0.7rem; }

    .imgPersona { width: 15%; }

    /************************* Pie de página *****************************/

    .d-none { display: block !important; }

    footer { font-size: 0.7rem; }
}